<div class="footer-container">
    <div class="content-container">
        <div class="footer-grid">
            {% block footer %}

                <div>
                    <h3>STYLUS PHOTOGRAPHY</h3>
                </div>

                <div>
                    <p>Cím</p>
                    <p>Visual Workshop Bt. <br>Budapest, Hungary</p>
                </div>

                <div>
                    <p>Elérhetőség</p>
                    <p>szmatefy@gmail.com</p>
                    <p>+36-70-3696077</p>
                </div>

                <div>
                    <p>Kövess!</p>
                    <p>instagram icon...</p>
                    <p>facebook icon...</p>
                </div>

            {% endblock %}
        </div>
    </div>
</div>