{% extends "_base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid cupiditate delectus, deleniti doloribus, eaque enim est exercitationem fuga illum, ipsum nemo nulla odit pariatur porro repellat sunt suscipit veritatis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid cupiditate delectus, deleniti doloribus, eaque enim est exercitationem fuga illum, ipsum nemo nulla odit pariatur porro repellat sunt suscipit veritatis.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cupiditate dolores enim illum ipsam mollitia necessitatibus nisi nobis praesentium sit! Amet dolore excepturi exercitationem itaque magnam obcaecati quam rem, temporibus ut voluptate voluptates voluptatibus. Ad alias aspernatur dolore, dolores et impedit inventore itaque labore, nemo provident quibusdam quod vel voluptatum. Accusantium delectus, dicta dignissimos dolore eligendi enim in maiores molestiae nesciunt nobis obcaecati, optio quo voluptas? Distinctio, doloribus eius molestiae necessitatibus numquam quod rem ut velit. Accusamus alias blanditiis explicabo harum labore modi, neque numquam obcaecati pariatur placeat similique voluptates! Doloremque ducimus ea eligendi exercitationem id iusto non odio, saepe!</p>
    <h3>Lorem ipsum dolor sit.</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem beatae consectetur cupiditate, dolore dolores earum eligendi excepturi iste itaque labore magni minima molestias nam nihil odit pariatur quos reiciendis?</p>

{% endblock body %}