{% extends '_base.html' %}

{% block title %}Photo Details{% endblock title %}

{% block body %}
    <div class="details-container">
        <img src="https://source.unsplash.com/1200x900/?nature,water" alt="">

        <div>
            <div class="photo-description-container">
                <h1>Photo Title</h1>
                <small>2021 09 12</small>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid animi consectetur cupiditate excepturi fugit iusto minima, minus modi molestias nemo quasi, quo soluta vitae, voluptate! Deleniti incidunt numquam obcaecati.</p>
            </div>
        </div>
    </div>
{% endblock body %}